<launch>
    
    <node pkg="barracuda_thruster_output_controller" 
          type="rpi_thruster_controller.py" 
          name="barracuda_thruster_controller" 
          output="screen">
    </node>
    
    <!-- Launch the test publisher node -->
    <node pkg="barracuda_thruster_output_controller" 
          type="test_publisher.py" 
          name="thruster_test_publisher" 
          output="screen">
    </node>

    <node pkg="barracuda_thruster_output_controller"
          type="disable_thruster_node.py"
          name="disable_control">
    </node>
    
</launch>