<launch>
    
    <node pkg="barracuda_thruster_output_controller" 
          type="rpi_thruster_controller.py" 
          name="barracuda_thruster_controller" 
          output="screen" ns="barracuda">
          <env name="PYTHONPATH" value="$(find barracuda_thruster_output_controller)/scripts:$(optenv PYTHONPATH)" />
    </node>

    <node pkg="barracuda_thruster_output_controller" 
          type="gpio.py" 
          name="gpio" 
          output="screen" ns="barracuda">
    </node>
    
</launch>
